@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Space+Grotesk:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans+Caption:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans+Caption:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 750px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.main-section {
  width: 50%;
  height: 100%;
}

.tagline-section {
  background: #474e21;
  font-family: "PT Sans Caption", sans-serif;
  height: 415px;
  padding: 0px 30px;
}

.seen-on-section {
  background: #f6fcd5;
  width: 100%;
  height: 85px;
}

.image-section {
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, #f6fcd5 60px, #d2abe4 0) bottom,
    linear-gradient(135deg, #474e21 60px, #d2abe4 0) top;
  background-size: 100% 51%; /* width height */
  background-repeat: no-repeat;
  font-family: "PT Sans Caption", sans-serif;
  position: relative;
}

header {
  color: white;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.6rem;
}

.nav-link:hover {
  color: #eeff6e;
}

.tagline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: start;
  text-align: left;
  width: 80%;
  height: 300px;
  padding-left: 10px;
}

.tagline {
  color: #eeff6e;
  font-size: 2rem;
}

.title-accent {
  color: #d6ade8;
  font-weight: 700;
}

.agent-button {
  background: #eaff6c;
  font-weight: 700;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 4px 4px #d6ade8;
}

.agent-button:hover {
  border-color: #d6ade8;
}

.agent-icon {
  background: #d2abe4;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}

.image-section-button {
  background: transparent;
  color: white;
  font-size: 0.6rem;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  padding: 0px 30px;
}

.quote-button {
  background: #474e21;
}

.image-wrapper {
  height: 400px;
  width: 300px;
}

.card-image {
  position: relative;
  z-index: 10;
}

.price-card {
  background: #ffffff;
  background: linear-gradient(45deg, #ffffff 85%, #d2abe4 85%, #d2abe4 100%);
  width: 120px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 65px;
  color: #474e21;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px 30px;
  justify-content: center;
}

.covered-wrapper {
  position: absolute;
  left: -25px;
  height: 90px;
  width: 25px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  background: #f6fcd5;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.price {
  font-size: 1.8rem;
  font-weight: 800;
  position: relative;
  z-index: 5;
  height: 35px;
}

.money-sign {
  position: absolute;
  top: -8px;
  left: -24px;
  background: #eaff6c;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  z-index: -1;
  padding: 8px;
}

.monthly-price {
  font-size: 0.9rem;
}

.seen-on-wrapper {
  width: 110px;
  text-align: left;
  padding: 10px 40px;
  background: linear-gradient(45deg, #d2abe4 78%, #f6fcd5 78%, #f6fcd5 100%);
  color: #f6fcd5;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
}

.arrow {
  width: 150px;
  background: #d2abe4;
  height: 2px;
  position: absolute;
  right: -80px;
  top: 22px;
}

.arrow::after {
  content: " ";
  display: block;
  position: absolute;
  height: 15px;
  background: #d2abe4;
  width: 2px;
  left: 100%;
  top: 0;
}

.seen-on-places {
  display: flex;
  padding: 0 0 0 40px;
  color: #32390c;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  height: 40px;
  font-weight: 700;
}

.lora {
  font-family: "Lora", serif;
  font-style: normal;
  font-size: 0.9rem;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-size: 0.7rem;
}

.pt-sans {
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
}

.triangle-down {
  position: absolute;
  left: 146px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #d2abe4;
}
